.create {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 200;
	display: flex;
	justify-content: center;
	align-items: center;
}
.create__container {
	width: 70%;
	height: 90vh;
	background-color: white;
	box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.create__title {
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
	font-size: 2rem;
	font-weight: 600;
}
.create__quiz {
	width: 40%;
	height: calc(100% - 4rem);
	padding-bottom: 1rem;
	border-right: 0.1rem solid rgba(0, 0, 0, 0.4);
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 1rem;
}

.create__question {
	width: 60%;
	height: calc(100% - 4rem);
	padding-bottom: 1rem;
	overflow-x: hidden;
	overflow-y: scroll;
}
.create__quiz::-webkit-scrollbar,
.create__question::-webkit-scrollbar {
	display: none;
}
.cancel {
	position: absolute;
	right: 1rem;
	top: 1rem;
	& > div {
		width: 2rem;
		height: 2rem;
		border: 0.1rem solid rgba(0, 0, 0, 0.4);
		border-radius: 50%;
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 0.5rem;
		cursor: pointer;
	}
}
.quizCard__input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	& > div {
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
	}
}
.quizCard__input__question {
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	bottom: 0;
	& > div {
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
	}
}
.quizCard__label {
	width: 100%;
	height: 100%;
}
.input__text {
	margin-top: 2rem;
	& > textarea {
		width: 100%;
		min-height: 2rem;
		outline: none;
		resize: vertical;
		padding: 0.5rem;
		font-size: 1.7rem;
	}
}
.input__create__button {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	& > button:first-child {
		margin-right: 1rem;
	}
}
.create__question {
	padding: 1rem;
}
.question__card {
	position: relative;
}
.question__card__input {
	position: relative;
	width: 100%;
	min-height: 18rem;
	border: 0.1rem solid rgba(0, 0, 0, 0.2);
	margin-bottom: 1.5rem;
	display: flex;
	position: relative;
	overflow: hidden;
}
.question__input__name {
	width: 100%;
	& > textarea {
		width: 100%;
		min-height: 5rem;
		outline: none;
		padding: 0.5rem;
		font-size: 1.5rem;
		resize: vertical;
	}
}
.text__area__input {
	width: 100%;
	& > textarea {
		width: 100%;
		min-height: 5rem;
		padding: 0.5rem;
		font-size: 1.2rem;
		resize: vertical;
		outline: none;
	}
}
.no__transform:hover {
	transform: scale(1);
}
