.container {
	width: 100%;
	min-height: 100vh;
	margin-bottom: 2rem;
}
.d-flex {
	display: flex;
}

.center-h {
	justify-content: center;
}
.center-v {
	align-items: center;
}
.text-center {
	text-align: center;
}
.btn {
	padding: 0 3rem;
	height: 4rem;
	cursor: pointer;
}
.btn:hover {
	transform: scale(0.9);
}
.btn-default {
	background-color: rgb(226, 147, 95);
	outline: none;
	color: white;
	border: none;
	border-radius: 5rem;
}
.radio__container {
	position: fixed;
	top: 0.5rem;
	left: 0%;
	z-index: 500;
}
.radio__sound {
	position: fixed;
	right: 2rem;
	top: 2rem;
}
.radio__sound > div {
	width: 3.7rem;
	height: 3.7rem;
	border: 0.1rem solid rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
	border-radius: 50%;
	cursor: pointer;
}
